<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <table>
    <tr>
        <td><a routerLink="/app-simple-http" routerLinkActive="active">Simple HTTP</a></td>
    </tr>
    <tr>
        <td><a routerLink="/app-promise-callback" routerLinkActive="active">Promise/API</a></td>
    </tr>
    <tr>
        <td><a routerLink="/app-obsevable-rx" routerLinkActive="active">Observable/Rx</a></td>
    </tr>
    <tr>
        <td><a routerLink="/app-jwt-token" routerLinkActive="active">Get JWT Token from Spring Boot</a></td>
    </tr>
</table>
<br/>
<router-outlet></router-outlet>
</div>